nav {
  z-index: 999;
  max-width: 1860px;
  margin: auto;
}
.navbar-brand {
  color: var(--darkFont);
}
.nav-link {
  color: var(--darkFont);
}
.iconDiv {
  width: 30px;
  height: 30px;
  background-color: var(--darkBrow);
}
